@import "tailwindcss";
@plugin "daisyui" {
  themes: "catppuccin-frappe", dark, light, dracula, nord;
}

@plugin "daisyui/theme" {
  name: "catppuccin-frappe";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: #303446; /* base */
  --color-base-200: #292c3c; /* mantle */
  --color-base-300: #232634; /* crust */
  --color-base-content: #c6d0f5; /* text */
  --color-primary: #8caaee; /* blue */
  --color-primary-content: #232634; /* crust */
  --color-secondary: #ca9ee6; /* mauve */
  --color-secondary-content: #232634; /* crust */
  --color-accent: #81c8be; /* teal */
  --color-accent-content: #232634; /* crust */
  --color-neutral: #414559; /* surface0 */
  --color-neutral-content: #c6d0f5; /* text */
  --color-info: #85c1dc; /* sapphire */
  --color-info-content: #232634; /* crust */
  --color-success: #a6d189; /* green */
  --color-success-content: #232634; /* crust */
  --color-warning: #e5c890; /* yellow */
  --color-warning-content: #232634; /* crust */
  --color-error: #e78284; /* red */
  --color-error-content: #232634; /* crust */
  --radius-selector: 2rem;
  --radius-field: 1rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

html, body, #app {
  height: 100%;
  margin: 0;
}
